/CONFRONTO.txt
/inputaudio1.data
/inputaudio2.data
/inputaudio3.data
/inputaudio4.data
/inputaudio5.data
/outputDATA1.data
/outputDATA2.data
/outputDATA3.data
/outputDATA4.data
/outputDATA5.data
/outputVAD1.txt
/outputVAD2.txt
/outputVAD3.txt
/outputVAD4.txt
/outputVAD5.txt
/outputVAD5NoDecay.txt
/outputVADCopy1.txt
/outputVADCopy2.txt
/outputVADCopy3.txt
/outputVADCopy4.txt
/outputVADCopy5.txt